@charset "UTF-8";
body{
	color:#333;
	font: 14px/1.3em sans-serif;
}

#canvas-container{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#canvas-container canvas { width: 100%; height: 100% }